/* Setear nuestros archivos*/
body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;  
    color: #303030;
}
/* Clases reutilizables*/
/* Para mayusculas
.text-uppercase{
    text-transform: uppercase;
}*/

.box-header{
    display: inline-block;
}

/* Clases especificas*/
.logo-header  {
    width: 200px; 
}
li {
    display: inline;
    list-style: none;
}
li a{
    text-decoration: none;
    color: inherit;
}
header{
    position: relative;
}
nav {
    position: absolute;
    right: 5%;
    top: 20%;
    transform: translateY(-50)
}
section {
    text-align: center;
    margin: 32px;
}
div{
    display: inline-block;
    width: 30%;
}
span {
    font-size: 50px;
}
body section:last-child {
    margin: 30px 50px 0 50px;
}
img[alt="laboratoria"] {
    width: 120px; 
}
button {
    background-color: #f9a91a;
    padding: 10px;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
}
.box-header ul li {
    margin: 0 15px;
}
span:hover{
    color:#f9a91a;
}
footer {
  
    background-color: #303030;
    text-align: center;
    padding: 5px;
    margin: 0;
    color: white; 

}
